# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
dspcmd
hardt_test

.idea
Makefile
CMakeFiles
CMakeCache.txt

cmake_install.cmake
src/.DS_Store
src/hardt/hardt.h
src/hardt/hardt.pc

build
